body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

h1 {
    color: #4a90e2; /* Blue */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #4a90e2;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4a90e2; /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ab8; /* Darker blue */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    padding: 15px;
    background: #e7f3ff; /* Light blue */
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li:hover {
    background: #d1e6ff; /* Slightly darker blue */
}

.progress-container {
    margin-top: 20px;
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 5px;
}

h2, h3 {
    text-align: center;
    color: #4a90e2; /* Blue */
}
